.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
 
}

.ava {
  height: 100px;
  width: 100px;
}
.cardInfo {
  color: rgb(5, 255, 172);
  padding: 10px;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
  
}

.App-link {
  color: #09dd3e;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
